# Server
PORT=5000

# Database
MONGO_URI=mongodb+srv://medremind:saptak16medremind@cluster0.wkztxm7.mongodb.net/?appName=Cluster0

# OpenAI (Day 2)
OPENAI_API_KEY=AIzaSyAmC7drRWuLITO91-Z1kwbpk-gWYgh3HQ4

# Pinecone (Day 2)
PINECONE_API_KEY=your_pinecone_api_key
PINECONE_INDEX=medremind
